body {
    margin: 0;
    padding: 30px 0;
    overflow-x: hidden;
    z-index: -99;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 570px) {
    body {
        padding: 15px 25px;
    }
}
